<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee  
 http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" >
 <!-- DispatcherServlet : Spring 환경 설정 서블릿 -->

  <display-name>Shop1</display-name>
  <servlet>
  	<servlet-name>shop1</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextClass</param-name>
  		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  	</init-param>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>config.MvcConfig
  					 config.DBConfig
  		</param-value>
  	</init-param>
  	<!-- 웹 어플리케이션 실행(시작하면) 서블릿을 객체화 -->
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <filter>
  	<filter-name>encoding</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  
  <servlet-mapping>
  	<servlet-name>shop1</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <filter-mapping>
  	<filter-name>encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
